<div class="panel panel-danger" style="width: 50vw; height: 30vh;border: solid 2px #d5d5c0;">
    <div class="panel-heading center" style="background-color: #d5d5c0;">
        <h3 class="panel-title" style="color: black; font-size: 6vh;">Web Developer Skills</h3>
    </div>
    <div class="panel-body moveLeft" style="padding-left: 8vw;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 center">
            <img type="button" class="logo img-html5" src="./../../../assets/imgs/logo_html5.png" alt="html">
            <h3 class="html5">
                <div class="progress" style="margin-left: 1.7vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: orange;">
                        <h2>7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 center">
            <img type="button" class="logo img-css" src="./../../../assets/imgs/logo_css.png" alt="html">
            <h3 class="css">
                <div class="progress" style="margin-left: -5.2vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: blue;">
                        <h2 style="color: white;">7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 center">
            <img type="button" class="logo img-js" src="./../../../assets/imgs/logo_js.png" alt="html">
            <h3 class="js">
                <div class="progress" style="margin-left: -12.2vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%; background-color: yellow;">
                        <h2>4/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 center">
            <img type="button" class="logo img-angular" src="./../../../assets/imgs/logo_angular.png" alt="html">
            <h3 class="angular">
                <div class="progress" style="margin-left: -19.2vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: red;">
                        <h2>7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 center">
            <img type="button" class="logo img-bs" src="./../../../assets/imgs/logo_bs.png" alt="html">
            <h3 class="bs">
                <div class="progress" style="margin-left: -26.2vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; background-color:purple">
                        <h2 style="color: white;">8/10</h2>
                    </div>
                </div>
            </h3>
        </div>
    </div>
</div>
<div class="panel panel-danger" style="width: 50vw; height: 30vh;">
    <div class="panel-heading center" style="background-color: #d5d5c0;">
        <h3 class="panel-title" style="color: black; font-size: 6vh;">Designer Skills</h3>
    </div>
    <div class="panel-body moveRight" style="padding-left: 1.5vw;">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center ">
            <img type="button" class="logo img-html5" src="./../../../assets/imgs/logo_pts.png" alt="html">
            <h3 class="html5">
                <div class="progress" style="margin-left: 8.5vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: blue;">
                        <h2 style="color: white;">7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center">
            <img type="button" class="logo img-css" src="./../../../assets/imgs/logo_ai.png" alt="html">
            <h3 class="css">
                <div class="progress" style="margin-left: -3.5vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: orange;">
                        <h2>7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center">
            <img type="button" class="logo img-js" src="./../../../assets/imgs/logo_ae.png" alt="html">
            <h3 class="js">
                <div class="progress" style="margin-left: -15.5vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%; background-color: purple;">
                        <h2 style="color: white;">7/10</h2>
                    </div>
                </div>
            </h3>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center">
            <img type="button" class="logo img-js" src="./../../../assets/imgs/figma.png" alt="html">
            <h3 class="js">
                <div class="progress" style="margin-left: -27.5vw;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; background-color: black;">
                        <h2 style="color: white;">5/10</h2>
                    </div>
                </div>
            </h3>
        </div>

    </div>
</div>