<div class="panel panel-danger " style="margin-right:1vw;border: solid 2px #bfe5ee;">
    <div class="panel-heading heading">
        <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body body ">

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center">
                <img class="primary" src="./../../../assets/imgs/primary.png" alt="primary" type="button" style="height: 5vw; width: 5vw;">

                <div class="panel panel-info primary-content">
                    <div class="panel-heading heading2">
                        <h3 class="panel-title2">LE VAN TAM <br> PRIMARY SCHOOL</h3>
                    </div>
                    <div class="panel-title2">
                        Tra Vinh City (2004-2009)
                    </div>
                </div>

            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center">
                <img class="junior" src="./../../../assets/imgs/junior.png" alt="junior" type="button" style="height: 5vw; width: 5vw;">
                <div class="panel panel-info junior-content">
                    <div class="panel-heading heading2">
                        <h3 class="panel-title2">LY TU TRONG <br> JUNIOR HIGH SCHOOL</h3>
                    </div>
                    <div class="panel-title2">
                        Tra Vinh City (2009-2013)
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center">
                <img class="high" src="./../../../assets/imgs/high.png" alt="high" type="button" style="height: 5vw; width: 5vw;">
                <div class="panel panel-info high-content">
                    <div class="panel-heading heading2">
                        <h3 class="panel-title2">PHAM THAI BUONG <br> HIGH SCHOOL</h3>
                    </div>
                    <div class="panel-title2">
                        Tra Vinh City (2013-2016)
                    </div>
                </div>
            </div>

        </div>

        <div class="univer">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img class="animated" src="./../../../assets/imgs/CT.png" alt="CanThoUniversity" style="height: 5vw; width: 5vw">
                    <h2 class="CT-title animated">CAN THO UNIVERSITY</h2>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="body-content-long"> Course: 42 (2016-2020)</h3>
                    <h3 class="body-content-long"> Major: Software Engineering</h3>
                    <h3 class="body-content"> GPA: 2.8</h3>
                </div>
            </div>


        </div>




    </div>
</div>