<div class="panel panel-danger " style="margin-right:1vw">
    <div class="panel-heading heading">
        <h3 class="panel-title">My Experience</h3>
    </div>
    <div class="panel-body body ">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Self-Learning</h4>
                <h3 class=" body-content">Html, Css, Js, Bs in <a style="color: red;" href="https://www.w3schools.com/">https://www.w3schools.com/</a> </h3>
                <h3 class=" body-content">Solve Problems in <a style="color: red;" href="https://stackoverflow.com/">https://stackoverflow.com/</a> </h3>
                <h3 class=" body-content">Angular in <a style="color: red;" href="https://angular.io/">https://angular.io/</a> </h3>
            </div>
        </div>
        <div class="card" style="margin-top: 1vw;">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Practical Work Experience</h4>
                <h3 class=" body-content">I don't have much experience :D</h3>
            </div>
        </div>
    </div>

</div>