<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <router-outlet></router-outlet>
            <router-outlet name="as"></router-outlet>

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <ul class="nav justify-content-center">
                <li class="nav-item mg-right">
                    <a title="Home" class="nav-link" [routerLink]="['/home', { outlets: {'abc':['home'],'as': ['home'] }}]" routerLinkActive="active1"><i class="fas fa-home style-ic " ></i></a>
                </li>
                <li class="nav-item mg-right">
                    <a title="About Me" class="nav-link " [routerLink]="['/about', { outlets: {'abc':['about'],'as': ['about'] }}]" routerLinkActive="active2"><i class="fas fa-address-card style-ic " ></i></a>
                </li>
                <li class="nav-item mg-right">
                    <a title="Education" class="nav-link " [routerLink]="['/education', { outlets: {'abc':['education'],'as': ['education'] }}]" routerLinkActive="active3"><i class="fas fa-graduation-cap style-ic " ></i></a>
                </li>
                <li class="nav-item mg-right">
                    <a title="Developer Skills" class="nav-link" [routerLink]="['/skills', { outlets: {'abc':['skills'],'as': ['skills'] }}]" routerLinkActive="active4"><i class="fas fa-code style-ic" ></i></a>
                </li>

                <li class="nav-item mg-right">
                    <a title="Soft Skills" class="nav-link" [routerLink]="['/project', { outlets: {'abc':['project'],'as': ['project'] }}]" routerLinkActive="active5"><i class="fas fa-tasks style-ic" ></i></a>
                </li>
                <li class="nav-item mg-right">
                    <a title="My Experience" class="nav-link" [routerLink]="['/exp', { outlets: {'abc':['exp'],'as': ['exp'] }}]" routerLinkActive="active6"><i class="fas fa-chart-bar style-ic" ></i></a>
                </li>
            </ul>
            <router-outlet></router-outlet>
            <router-outlet name="abc"></router-outlet>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>