<div class="panel panel-danger " style="margin-right:1vw; border: solid 2px red;">
    <div class="panel-heading heading">
        <h3 class="panel-title">About Me</h3>
    </div>
    <div class="panel-body body ">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div style="border: solid 2px orangered;height: 11vw; width: 8.5vw; margin-top: 15vh;">
                <img class="dob" src="./../../../assets/imgs/cv34.png " alt=" " style="height: 10vw; width: 7.5vw; margin-top: 0.8vh; margin-left: 0.8vh;">
            </div>

        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">

            <h3 class=" body-content ">Full name: TRAN TRUNG KHANH </h3>
            <h3 class=" body-content dob ">Date Of Birth: 07/12/1998</h3>
            <h3 class=" body-content ">Phone: 0793963902</h3>
            <h3 class=" body-content mail ">Mail: khanhtrandesign98@gmail.com</h3>
            <h3 class=" body-content ">My Address: Ninh Kieu, Can Tho</h3>
        </div>

    </div>
</div>