<div class="panel panel-danger " style="margin-right:1vw">
    <div class="panel-heading heading">
        <h3 class="panel-title">Soft Skills</h3>
    </div>
    <div class="panel-body body ">
        <h3 class=" body-content moveLeft">Team Working Skills </h3>
        <h3 class=" body-content moveRight">Time Management Skills</h3>
        <h3 class=" body-content moveLeft">Problem Solving Skills</h3>
        <h3 class=" body-content moveRight">High Learning Capacity</h3>
        <h3 class=" body-content moveLeft">Good Technological Adaptability</h3>
        <h3 class=" body-content moveRight">Tech Savvy</h3>

    </div>
</div>